* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.heading,
.footerpart {
  background-color: #75d02f;
}
.sidebar {
  background-color: #f2fada;
}
.navbar {
  background-color: #d0edd3;
  
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 15% 70% 15%);
  grid-template-rows: repeat(3, 10% 80% 10%);
  height: 100vh;
  width: 100vw;
}
.heading {
  grid-column: 2/4;
  grid-row: 1/2;

}
.navbar {
  grid-row: 1/4;
  grid-column: 1/2;
 
}
.content {
  grid-column: 2/3;
  grid-row: 2/3;

}
.footerpart {
  grid-column: 2/3;
  grid-row: 3/4;

}
.sidebar {
  grid-column: 3/4;
  grid-row: 2/4;
}
.heading,
.navbar,
.content,
.sidebar,
.footerpart {
  padding: 5px;
}
.headertext,.footertext{
    height: 20px;
    overflow: auto;
}
.sectiontext1{
    height: 591px;
    overflow: auto;
}
.sectiontext2{
    height: 452px;
    overflow: auto;
}
.sectiontext3{
    height: 515px;
    overflow: auto;
}
@media only screen and (max-width: 500px){
    .main{
            grid-template-rows: repeat(5, 8% 28% 28% 28% 8% );
    }
    .heading{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .navbar{
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .content{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .sidebar{
        grid-row: 4/5;
        grid-column: 1/4;
    }
    .footerpart{
        grid-row: 5/6;
        grid-column: 1/4;
    }
    .sectiontext1{
        height: 97px;
        overflow: auto;
    }
    .sectiontext2{
        height: 97px;
        overflow: auto;
    }
    .sectiontext3{
        height: 97px;
        overflow: auto;
    }
    .headertext,.footertext{
        height: 13px;
        overflow: auto;
    }
}